/cmd/cmd
/cmd/gkfs_host.txt.pid
/cmd/hash
/cmd/libhash.so
/internal/hash/libhash.so
/stage/stage-in
/stage-in/libhash.so
/test/1G
/pkg/
/test/cpu.prof
/test/heap.prof
/test/strace.out
/stage-in/stage-in
/stage-in/stage-in.bak
